package ${ROOT_PKG};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.EnableAutoConfiguration;
import org.springframework.boot.builder.SpringApplicationBuilder;
import org.springframework.boot.context.web.SpringBootServletInitializer;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.Configuration;
import org.springframework.web.WebApplicationInitializer;

import java.text.SimpleDateFormat;

import com.fasterxml.jackson.databind.ObjectMapper;


//Tell Spring to automatically inject any dependencies that are marked in
//our classes with @Autowired
@EnableAutoConfiguration
// Tell Spring that this object represents a Configuration for the
// application
@Configuration
// Application is a SpringBootServletInitializer subclass and override its configure method.
@ComponentScan
public class Application extends SpringBootServletInitializer implements WebApplicationInitializer {

	private static boolean iso8601FormatSet = false;
	private static final SimpleDateFormat ISO8601_DATE_FORMAT = new SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss.SSS'Z'");
	private static final Logger LOGGER = LoggerFactory.getLogger(Application.class);

	public static void main(String[] args) {
		SpringApplication.run(Application.class, args);
	}

	public static void setDateFormat(ObjectMapper objectMapper) {
		if (objectMapper != null && !iso8601FormatSet) {
			LOGGER.info("Setting ISO 8601 DATE FORMAT");
			objectMapper.setDateFormat(ISO8601_DATE_FORMAT);
			iso8601FormatSet = true;
		}
	}
}
